[run]
# Diretório onde o .coverage será gerado
data_file = .coverage

[report]
# Formato de saída do relatório
show_missing = True

[html]
# Diretório onde o relatório HTML será gerado
directory = htmlcov

[xml]
# Diretório onde o relatório XML será gerado
output = coverage.xml