asgiref
astroid
beautifulsoup4
certifi
cffi
charset-normalizer
colorama
coverage
cryptography
dill
Django==3.2.7
django-admin-rangefilter
django-adminlte-ui
django-ajax-selects
django-constance
django-cors-headers
django-currentuser
django-environ
django-filter
django-jazzmin
django-picklefield
django-reversion
django-treebeard
django-utils-six
django-webtest
django-wkhtmltopdf
djangorestframework
djangorestframework-simplejwt
geographiclib
geopy
humanize
idna
importlib-metadata
isort
itsdangerous
josepy
lazy-object-proxy
Markdown
mccabe
mozilla-django-oidc
openrouteservice
Pillow
platformdirs
psycopg2-binary
pycparser
pycryptodomex
Pygments
PyJWT
pylint
pylint-django
pylint-plugin-utils
pyOpenSSL
pytz
redis
requests
six
soupsieve
sqlparse
toml
tomli
tomlkit
typed-ast
typing-extensions
urllib3
waitress
WebOb
webservices
WebTest
wrapt
zipp
#uWSGI
