{% extends "base_error.html" %}

{% block title %}Erro 500 - Erro interno no servidor{% endblock %}

{% block content %}
<h1>Ooops!!! Erro 500</h1>
<h3>Não se preocupe!</h3>
<p>Rastreamos esses erros automaticamente, Estamos trabalhando para resolver este erro em até 24 horas, mas caso o erro persista, 
sinta-se à vontade para entrar em contato conosco. Enquanto isso, tente atualizar.<br><br>

Central de Serviços pelo e-mail ou telefone abaixo:<br><br>
(85) 3194.5050 - centraldeservicos@defensoria.ce.def.br
</p></p>

{% endblock content %}