{% extends 'admin/base.html' %}
{% load static core_fieldset %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'ajax_select/css/ajax_select.css' %}">
<link rel="stylesheet" href="{% static 'admin/adminlte-dist/css/app.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script src="{% static 'sweetalert2_v11/sweetalert2.all.min.js' %}" ></script>

<style>
    .box-body {
        background: #fff;
        padding: 0.8em !important;
    }
    .content form .box-footer {
        background-color: #f5f5f5;
    }
    .content form .box-body input[type=text],
    .content form .box-body input[type=email],
    .content form .box-body textarea, 
    .content form .box-body .input-group-btn, 
    .content form .box-body .select2-container {
        border-radius: 5px;
        box-shadow: 0px 1px 2px 0px #999;
    }
    .card-perfil {
        box-shadow:  0px 0px 5px 0px rgba(0,0,0,0.3) !important;
        margin: 10px auto;
        padding: 15px 10px;
        border-radius: 15px;
        font-size: 13px;
        z-index: 0;
        background-color: #fff;
    }
    .card-perfil:hover {
        box-shadow:  0px 0px 5px 0px var(--multi-primary) !important;
    }    
    .link-destaque {
        font-size: 1.2em;
        color: #16a085;
    }
    .link-destaque:hover{
        color: #16a085;
        text-decoration: underline;
    }
    .paragrafo-g {
        font-size: 1.2em;
    }
    .overflow-processos {
        height: 50rem;
        max-height: 50rem;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .flex-processo {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .flex-assistido {
        display: flex;
        justify-content: center;   
        gap: 30px;
    }
    .img-assistido-processo {
        flex: 1;
    }
    .descricao-assistido {
        flex: 5;
    }
    .btn-label .label {
        position: absolute;
        top: 103px;
        right: 244px;
        text-align: center;
        font-size: 9px;
        padding: 1px 2px;
        line-height: .9;  
    }
    .link-disable {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.3;
        text-decoration: none;
    }
    .card-perfil-dados {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        margin-bottom: 15px;
    }
    .d-flex {
        display: flex;
    }
    .card-perfil-dados .bloco-dados .btn {
        min-width: 34px;
        margin-bottom: 2px;
    }
    .text-dark {
        color: #000;
    }
    .bg-yellow-custom {
        background-color: #f1c40f;
        color: #000;
    }
    .borda-informativos {
        box-shadow:  0px 0px 5px 0px rgba(0,0,0,0.3);
        border-radius: 5px;
    }
    .info-fix{
        padding-left: 3px;
    }
    .mt-1 {
        margin-top: 1rem;
    }
    .mr-1 {
        margin-right: 1rem;
    }
    .ml-1 {
        margin-left: 1rem;
    }
    .botoes-acao-assistido{ 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-end;
        align-items: center;
    }

    .lista .botoes-acao-assistido a,
    .lista .botoes-acao-assistido button {
        width: 200px;
    }

    .img-assistido {
        height: 120px;
        width: 120px;
        display: block;
        background-position: center; 
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #cccccc;
    }

    .img-processo {
        height: 100px;
        width: 100px;
        display: block;
        background-position: center; 
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #cccccc;
        margin-right: 26rem;
    }
    .circle {
        border-radius: 50%;
        border: 2px solid lightgray;
    }

    .circle:hover {
        border: 2px solid #27ae60;
    }

    #generic-crud-busca .card-perfil-dados .bloco-imagem {
        flex: 1;
        margin-left: 1rem;
    }
    #generic-crud-busca .card-perfil-dados .bloco-dados {
        min-width: 0;
        flex: 5;
    }
    .text-truncate {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 95%;
    }
    #generic-crud-busca .card-perfil-processos ul {
        list-style: none;
        height: 80px;
        overflow-y: scroll;
        padding: 0;
    }
    #generic-crud-resumo {
        min-height: 1000px;
    }
    #generic-crud-resumo .nav-tabs-custom .tab-content {
        padding-top: 10px;
    }
    #generic-crud-resumo .nav-tabs-custom .tab-content .tab-pane-header {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;
    }
    #generic-crud-resumo .nav-tabs-custom>.nav-tabs {
        padding-bottom: 10px;
    }

    #generic-crud-resumo .nav-tabs-custom #links-tabs li a {
        padding: 10px 8px;
    }

    #generic-crud-resumo .card-perfil-dados {
        font-size: 1rem;
    }

    #generic-crud-resumo .card-perfil-dados .img-assistido {
        height: 120px;
        min-width: 120px;
    }

    .img-assistido-processo .img-assistido {
        height: 100px;
        width: 100px;
    }

    #generic-crud-resumo .card-perfil-dados .popover,
    #generic-crud-busca .card-perfil-dados .bloco-dados .popover {
        max-width: 400px;
        min-width: 400px;
    }

    .content-header {
        display: flex; 
        justify-content: space-between; 
        align-items: center;
        flex-wrap: wrap;
    }

    .content-header .header-complemento { 
        font-size: 13px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }
    .content-header .header-complemento div:last-child { 
        margin-left: 20px;
        display: flex;
        align-items: center;
    }
    .content-header .header-complemento .tag {
        margin-left: 5px;
        padding: 2px 5px; 
        border-radius:5px; 
        font-size: 0.75em; 
        font-weight: bold;
    }
    .tag {
        padding: 2px;
    }
    .link-processo {
        font-size: 1.4rem;
        color: rgba(199,166,0,1);
        padding: 5px 0;
    }

    @media (max-width: 992px) {
        #generic-crud-busca .card-perfil-dados .bloco-dados .text-truncate {
            white-space: initial;
        }
        #generic-crud-busca .card-perfil-dados {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        #generic-crud-busca .card-perfil-processos {
            text-align: center;
        }

        #generic-crud-resumo  #header-processo #header-processo-botoes {
            align-items: flex-start;
            justify-content: center;
            flex-direction: row;
        }
    }

    @media (min-width: 768px) and (max-width:1441px)  {
        .card-perfil-dados{
            margin-bottom: 0px;
        }
        .paragrafo-g {
            font-size: 1em !important;
        }

        .img-assistido-processo .img-assistido {
            height: 80px;
            min-width: 80px;
            width: 80px;
        }

        #generic-crud-resumo .card-perfil-dados .img-assistido,
        .img-assistido,
        .img-processo {
            height: 80px;
            min-width: 80px;
            width: 80px;
        }

        .bloco-dados i,
        #header-processo i {
            font-size: 0.8em;
        }

        .bloco-dados{
            font-size: 1rem !important;
        }

        .bloco-dados .btn.btn-sm,
        #header-processo  {
            padding: 3px 7px;
            margin-bottom: 0px;
            min-width: 25px;
        }

        .box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
            font-size: 15px !important;
        }

        .overflow-processos {
            height: unset;
        }

        p {
            font-size: 0.9em;
            margin: 0 0 5px;
            flex-wrap: wrap;
        }

        #generic-crud-resumo #header-processo #header-processo-processo,
        #generic-crud-resumo #header-processo #header-processo-assistido-1,
        #generic-crud-resumo #header-processo #header-processo-assistido-2 {
            padding: unset !important;
        }

        #generic-crud-resumo #header-processo {
            justify-content: space-between;
            gap: unset !important;
        }
    }
    #generic-crud-resumo  #header-processo {
        /* display: flex; */
        display: grid;
        grid-template-columns: 4fr 2fr 2fr;
        flex-wrap: nowrap;
        /* align-items: center; */
        /* align-content: stretch; */
        gap: 15px;
    }


    #generic-crud-resumo  #header-processo #header-processo-processo,
    #generic-crud-resumo  #header-processo #header-processo-assistido-1, 
    #generic-crud-resumo  #header-processo #header-processo-assistido-2  {
        display: flex;
        align-items: center;
        padding: 0px 10px;
    }

    #generic-crud-resumo  #header-processo #header-processo-botoes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }

    @media (min-width: 1441px) {
        #header-processo {
            justify-content: space-between;
        }

        p {
            font-size: 1.2em;
            margin: 0 0 5px;
            flex-wrap: wrap;
        }
    }

</style>
{% endblock %}

{% block page_content %}
<div style="padding-top:1em">
    <div style="display:none" id="preloader">
        <div class="wrapper-loader">
            <div class="spinner-loader"></div>
            <span>Aguarde...</span>
        </div>
    </div>
    <section class="content-header">
        <h1>{% block titulo %}{% endblock %}</h1>
        <div class="header-complemento">
            Nome{% if parent_object %}{{parent_object}}{% endif %}
        </div>
    </section>
    

    {% block conteudo %}{% endblock %}
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
<script type="text/javascript" src="{% static 'ajax_select/js/ajax_select.js' %}"></script>
<script type="text/javascript" src="{% static 'ajax_select/js/bootstrap.js' %}"></script>
<script>
    $(document).ready(() => {
        $('[data-toggle="popover"]').popover()
    })
</script>
{% endblock %}