{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Nossa Defensoria | DPGE-CE">

  <title>CONTABILIDADE</title>
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/icons.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style_dark.css' %}" />
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  {% block css_specific %}{% endblock css_specific %}
</head>

<body class="pt-5">
  <div class="col-12 col-sm-6 offset-md-3" style="padding-bottom: 100px;">
    <div class="container-fluid">
      {% block content %}{% endblock content %}
    </div>
  </div>

  <footer class="footer color-verde-escuro">Defensoria Pública Geral do Estado do Ceará</footer>

  <!-- JS  -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.mask.min.js' %}"></script>
  {% block js_specific %}{% endblock js_specific %}
</body>

</html>
