{% extends 'contabilidade/base.html' %}

{% block js_specific %}
<script>
  (function ($) {
    $(document).ready(function () {
        var form = $('form');
        var cpf_field = form.find('[name=cliente_cpf]');
        cpf_field.mask('000.000.000-00', { reverse: true, clearIfNotMatch: true });
    });
  })(jQuery);
</script>
{% endblock js_specific %}

{% block css_specific %}
<style>
.container {
    width: 800px; !important
}
</style>
{% endblock css_specific %}

{% block content %}
    <div class="card-box">
        <h5 class="text-center mb-5">TABELA DE CÁLCULO DO VALOR <br/>DO ICMS SOBRE TUST E TUSD</h5>
        <div class="row">
            <div class="col-12 col-sm-6" style="border-right: 1px solid;">
                <h5 style="font-size: 18px;">Como fazer o download do arquivo .html?</h5>
                <p><strong>1)</strong> Clique <a href="https://www.eneldistribuicao.com.br/ce/LoginAcessoRapidoICms.aspx" target="_blank">aqui</a> para acessar o website da Enel.</p>
                <p><strong>2)</strong> Preencha o "Número Cliente (sem o dígito)" e o "CPF / CNPJ", depois clique no botão "OK".</p>
                <p><strong>3)</strong> Clique "Control" + "S" ou clique com o botão direito do mouse, irá abrir uma caixa de diálogo, nela clique em "Salvar como..."</p>
                <p><strong>4)</strong> Salve o arquivo em uma pasta que você encontre-o facilmente.</p>
            </div>
            <div class="col-12 col-sm-6">
                <form method="post" action="{% url 'contabilidade:registrar' %}" autocomplete="off" enctype="multipart/form-data" target="_blank">
                    {% csrf_token %}
                    {% include 'partials/form_errors.html' %}
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>{{ form.cliente_cpf.label }} <span class="text-danger">*</span></label>
                                <br>
                                {{ form.cliente_cpf }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>{{ form.arquivo_html.label }} <span class="text-danger">*</span></label>
                                <br>
                                {{ form.arquivo_html }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-dpge-success">Calcular</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
