
<!-- Cadastros básicos -->
{% if perms.contrib.view_municipios %}
<li class="treeview">
    <a href="javascript:void(0)">
        <i class="fa fa-table" aria-hidden="true"></i>
        <span style="overflow: hidden; display: inline-block; vertical-align:top;">Cadastros Básicos</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
   </a>
   <ul class="treeview-menu">
        
   </ul>
</li>
{% endif %}
{% if perms.cotin.view_atividadeprojeto %}
   <li class="treeview">
      <a href="javascript:void(0)">
         <i class="fa fa-laptop"></i>
         <span style="overflow: hidden; display: inline-block; vertical-align:top;">COTIN</span>
         <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
         </span>
      </a>
      <ul class="treeview-menu menu-open">
         {% if perms.cotin.view_cotindashboards %}
         <li>
            <a href="/admin/cotin/cotindashboards/">
               <i class="fa fa-pie-chart" aria-hidden="true"></i>
               PAINEL DE INDICADORES
            </a>
         </li>
         {% endif %}
         {% if perms.cotin.view_atividadeprojeto %}
         <li>
            <a href="/admin/cotin/atividadeprojeto/">
            <i class="fa fa-circle"></i>
            Atividades
            </a>
         </li>
         {% endif %}
         {% if perms.cotin.view_sprint %}
         <li>
            <a href="/admin/cotin/sprint/">
            <i class="fa fa-circle"></i>
            Sprint
            </a>
         </li>
         {% endif %}
         <li class="treeview{% if 'cadastro' in request.get_full_path %} active{% endif %}">
            <a href="javascript:void(0)">
            <i class="fa fa-pencil-square" aria-hidden="true"></i>
            <span style="overflow: hidden; display: inline-block; vertical-align:top;">Cadastro</span>
            <span class="pull-right-container">
               <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
            {% if perms.cotin.view_projetos %}
         <li>
            <a href="/admin/cotin/projetos/">
            <i class="fas fa-minus" aria-hidden="true"></i>
            Projetos
           </a>
         </li>
         {% endif %}
         {% if perms.cotin.view_sistemas %}
         <li>
            <a href="/admin/cotin/sistemas/">
            <i class="fas fa-minus" aria-hidden="true"></i>
            Sistemas
            </a>
         </li>
         {% endif %}
         {% if perms.cotin.view_tipoatividades %}
         <li>
            <a href="/admin/cotin/tipoatividades/">
            <i class="fas fa-minus" aria-hidden="true"></i>
            Tipo de Atividade
            </a>
         </li>
         {% endif %}
         {% if perms.cotin.view_desenvolvedores %}
         <li>
            <a href="/admin/cotin/desenvolvedores/">
            <i class="fas fa-minus" aria-hidden="true"></i>
            Desenvolvedores
            </a>
         </li>
         {% endif %}
         {% if perms.cotin.view_analistaqualidade %}
         <li>
            <a href="/admin/cotin/analistaqualidade/">
            <i class="fas fa-minus" aria-hidden="true"></i>
            Analista de Qualidade
            </a>
         </li>
         {% endif %}
         {% if perms.cotin.view_projetoscategorias %}
         <li>
            <a href="/admin/cotin/projetoscategorias/">
            <i class="fas fa-minus" aria-hidden="true"></i>
            Categorias dos projetos
            </a>
         </li>
         {% endif %}
         {% if perms.cotin.view_cadastrovideos %}
         <li>
            <a href="/admin/cotin/cadastrovideos/">
            <i class="fas fa-minus" aria-hidden="true"></i>
            Videos
            </a>
         </li>
         {% endif %}
         {% if perms.cotin.view_categoriavideos %}
         <li>
            <a href="/admin/cotin/categoriavideos/">
            <i class="fas fa-minus" aria-hidden="true"></i>
            Categorias dos videos
            </a>
         </li>
         {% endif %}
    </ul>
    <li class="treeview{% if 'seguranca' in request.get_full_path %} active{% endif %}">
      <a href="javascript:void(0)">
      <i class="fa fa-lock" aria-hidden="true"></i>
      <span style="overflow: hidden; display: inline-block; vertical-align:top;">
         Segurança
      </span>
      <span class="pull-right-container">
         <i class="fa fa-angle-left pull-right"></i>
      </span>
      </a>
      <ul class="treeview-menu">
         {% if perms.session.view_logrequests %}
         <li>
            <a href="/admin/session/logrequests">
            <i class="fa fa-circle"></i>
            Auditoria Requisições
            </a>
         </li>
         {% endif %}
         {% if perms.session.view_acompanhamentomudanca %}
         <li>
            <a href="/admin/acompanhamentomudanca/reversionversion">
            <i class="fa fa-circle"></i>
            Acompanhamento de Mudanças
            </a>
         </li>
         {% endif %}
         {% if perms.session.view_usersession %}
         <li>
            <a href="/admin/session/usersession">
            <i class="fa fa-circle"></i>
            Usuários online
            </a>
         </li>
         {% endif %}
      </ul>
   </li>
  </li>
</ul>
</li>
{% endif %}

